* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #111;
  background: #edeff0 url("svg/background.svg");
}

body > svg {
  display: none;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
  padding: 0 20px;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

a:hover .nav__svg {
  fill: #111;
}

.nav__svg {
  fill: #39add1;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* * * */
/* SVGs */
/* * * */

/* Logo */
.logoText {
  transition: display 0.5s ease-out;
  /* opacity: 0; */
  display: none;
}

/* Dog Stylings */
.nose_and_eyes {
  fill: #2d3339;
}

.brows {
  fill: #da8058;
}

.white {
  fill: #fbfeff;
}

.corgis {
  display: flex;
}

.corgis div {
  margin: 0 auto;
}

/* Media Queries */
@media (min-width: 425px) {
  h1 {
    display: none;
  }

  .logoText {
    /* opacity: 1.0; */
    display: inline;
  }
}
